page-games {


    .BG{
            
        background-image: linear-gradient(rgb(185, 0, 0), rgb(199, 2, 133));    // fazer degrade
       z-index: 0;
           
       }
     
       
    .bt1{
        margin-top: -1%;
        font-size: 20px;           //TAMANHO DA 
        height: 15vh;
       // padding: 39px 65px;          // TAMANHO DO BUTÃO
        margin-bottom: -1vh;      // MARGEM DISTANCIA DE UM PRO OUTRO
        background-color:#a40281;  
     }

     .bt2{
        font-size: 20px;           //TAMANHO DA FONTE
        height: 15vh;
        //padding: 39px 65px;          // TAMANHO DO BUTÃO
        margin-bottom: -1vh;       // MARGEM DISTANCIA DE UM PRO OUTRO
        background-color:#b5029d;
     }

     .bt3{
        font-size: 20px;           //TAMANHO DA FONTE
        height: 15vh;
        // padding: 39px 65px;          // TAMANHO DO BUTÃO
        margin-bottom: -1vh;      // MARGEM DISTANCIA DE UM PRO OUTRO
        background-color: #b002c7;
     }

     .bt4{
        font-size: 20px;           //TAMANHO DA FONTE
        height: 15vh;
        // padding: 39px 65px;          // TAMANHO DO BUTÃO
        margin-bottom: -1vh;        // MARGEM DISTANCIA DE UM PRO OUTRO
        background-color:#c103da;
     }

     .bt5{
        font-size: 20px;           //TAMANHO DA FONTE
        height: 15vh;
        // padding: 39px 65px;          // TAMANHO DO BUTÃO
        margin-bottom: -1vh;        // MARGEM DISTANCIA DE UM PRO OUTRO
        background-color:#d604f2;
     }

     .bt6{
        font-size: 20px;           //TAMANHO DA FONTE
        height: 15vh;
        // padding: 39px 65px;          // TAMANHO DO BUTÃO
        margin-bottom: -1vh;         // MARGEM DISTANCIA DE UM PRO OUTRO
        background-color:#f67120;
     }

     .bt7{
        font-size: 20px;           //TAMANHO DA FONTE
        height: 15vh;
        // padding: 39px 65px;          // TAMANHO DO BUTÃO
        margin-bottom: -1vh;         // MARGEM DISTANCIA DE UM PRO OUTRO
        background-color:#f09a09;
     }

     .bt8{
        font-size: 20px;           //TAMANHO DA FONTE
        height: 15vh;
        // padding: 39px 65px;          // TAMANHO DO BUTÃO
        margin-bottom: -1vh;         // MARGEM DISTANCIA DE UM PRO OUTRO
        background-color:#f6b302;
     }

     .bt9{
        font-size: 20px;           //TAMANHO DA FONTE
        height: 15vh;
        // padding: 39px 65px;          // TAMANHO DO BUTÃO
        margin-bottom: -1vh;         // MARGEM DISTANCIA DE UM PRO OUTRO
        background-color:#f9c500;
     }

}

