page-games {

ion-label{
    font-size: 20px;
   color: rgb(252, 252, 252);
}
.div1{
    
    border-style: solid;
    border-width: 2px;
   
}

.preliminares{
    border-color:#f82c85; 
 background: #f82c85;
}
.posicoes{
border-color:#94124a;
 background: #94124a;   

}
.baralho{
    border-color:#530125;
    background: #530125;  

}
.contos{
    border-color:#9e28b1;
    background:#9e28b1;   

}

.striptease{
    border-color:#641370;
    background:#641370;   


}
.tentacao{
    border-color:#3b0044;
    background:#3b0044;

}
.vibrador{
    border-color:#fd3be3;
    background:  #fd3be3;

}
.time{
    border-color: #ce1eb6;
    background:  #ce1eb6;

}
.sozinho{
    border-color:#960482;
    background:  #960482;

}
.title{
    margin-left: -20%;
}





























}
