page-pagina-contos {
    .toolbar-background{
				
        background: #f82c85;
     }
     ion-icon{color: #fff;}
    ion-card{
        display: inline-block;
        width: 50px;
     
    }
    #cont{
        float: center;
    }
}
