page-preliminary {
    .toolbar-background{
				
        background: #f82c85;
     }

    #cont{
        background: #0f1522;
     
    }
    .butons{
        padding: 10px 10px;
        margin: 5px;
        margin-top: 3px;
        box-shadow: #ffffff
    }
    ion-icon{color: #fff;}


}
