page-gay2 {
    .toolbar-background{
				
        background: #530125;
     }
     #cont{
        background: #0f1522;
     
    }
    .butons{
        padding: 10px 10px;
        margin: 5px;
        margin-top: 3px;
        box-shadow: #ffffff
    }
    ion-icon{color: #fff;}
    .card{
        margin-top: 100px;
        float: center;
        text-align: center;
        width: 142px;
        height: 200px;
        display: inline-block;
    }
}
