page-view-prelim {
    .toolbar-background{
				
        background: #f82c85;
     }
     ion-icon{color: #fff;}
    ion-card{
        display: inline-block;
        width: 50px;
        height: 250px;
     
    }
    #cont{
        float: center;
        p{
            color: #fff;
        }
    }
}
